@charset "utf-8";
#iyikötüçirkin {
	background-color: #ccbea5;
	height: 350px;
	width: 1500px;
	margin-right: auto;
	margin-left: auto;
}
#iyi1 {
	background-color: #ccbea5;
	float: left;
	height: 300px;
	width: 300px;
	margin-right: 15px;
}
#iyi2 {
	background-color: #ccbea5;
	float: left;
	height: 240px;
	width: 430px;
	margin-right: 15px;
}
