@charset "utf-8";
#ucuzroman {
	background-color: #ccbea5;
	height: 300px;
	width: 1500px;
	margin-right: auto;
	margin-left: auto;
}
#ucuz1 {
	background-color: #ccbea5;
	float: left;
	height: 300px;
	width: 300px;
	margin-right: 15px;
}
#ucuz2 {
	background-color: #ccbea5;
	float: left;
	height: 240px;
	width: 430px;
	margin-right: 15px;
}
